<!-- Included Product List -->
<div id="selected-products">
<%= render :partial => "admin/shared/#{@product_group.group_type.underscore}_product_table", :locals => {:product_group => @product_group} %>
</div>
<!-- Product Search -->
<% form_tag('#') do %>
  <label><%= t('search') %>:</label>
  <input id="searchtext" size="25">
<% end %>

<div id="searching" style="display:none">
  Searching &nbsp; <%= image_tag "spinner.gif" %>  
</div>
<%= observe_field(:searchtext,
                  :frequency => 0.75,
                  :update => :search_hits,
                  :loading => "Element.show('searching')",
                  :complete => "Element.hide('searching')",
                  :url => available_admin_product_group_products_url(@product_group),
                  :with => "'q=' + value") %>  
<br/>                 
<div id="search_hits"></div>

